@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
